uvicorn==0.21.1
python-multipart==0.0.6
fastapi==0.95.0
nest-asyncio==1.5.6
jupyterlab==3.6.3
joblib==1.2.0
scikit-learn==1.2.2
pandas==1.5.3
numpy==1.24.3
ipykernel==6.22.0
pytest==7.3.1
pyarrow==11.0.0
scipy==1.10.1
streamlit==1.23.1
requests==2.31.0
modal
pydantic==1.10.9
